body {
    background: linear-gradient(135deg, #FD6E6A 0%, #FFC600 100%);
    background-repeat: no-repeat;
}

.header img {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

h4 {
    display: inline-block;
    flex-direction: row;
    text-decoration: bolder;
    font-weight: bolder;
}

nav {
    float: right;
}